body{
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    background-image: url(./projet_image/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f5f5f5;
}
nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0.2rem 1rem;
}

#left > h1{
color: white;  
font-size:1rem ;
margin: 0; 
/*! note
   for width top left we should use %
   for font size, mrgin, padding we should use rem
   for border-radius, border, blur we use px ==> 1rem =16px */
}
#left >h1>span{
    font-weight: 100;
}

#right>#cont{
    display: flex;
    align-items: center;
    /* gap: 20px; */
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#cont>li>a{
    color: white;
    text-decoration: none;
    padding: 0.4rem 1rem;
    display: block;
}
#cont>li>a>button{
 font-size: 1rem;
 padding: 0.2rem 1rem;
 border: 2px solid rgb(221, 201, 201) ;
 border-radius: 5px;
 color: white;
 background-color: transparent;   
}
/* -----------------Dropdown------------- */
#menu{
    list-style-type: none;
    padding: 0;
    position: absolute;
    background-color: white;
    top: 100%;
    right: 0;
    width: 180%;
    display: none;

}
#menu>li>a{
color: gray;
text-decoration: none;
display: block;
border-bottom: 2px solid rgb(240, 230, 230);
padding: 0.5rem;
}

#menu>li>a:hover{
    background-color: orangered;
    color: white;
}
#drop{
    position: relative;
}
#drop:hover #menu{
    display: block;
}
#submenu{
    list-style-type: none;
    padding: 0;
    position: absolute;
    background-color: white;
    top: 0%;
    right: 100%;
    width: 100%;
    display: none;
}
#submenu>li>a:hover{
    background-color: orangered;
    color: white;
}
#drop2{
    position: relative;
}
#drop2:hover #submenu{
    display: block;
}
#submenu>li>a{
color: gray;
text-decoration: none;
display: block;
border-bottom: 2px solid rgb(240, 230, 230);
padding: 0.5rem;

}


/* ------------------------alpha----------------- */

#alpha{
    text-align: center;
    margin-top: 8rem;

}
#alpha>h3{
    color: white;
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 0;
}
#alpha>p{
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 2rem;
}
#alpha > button{
    width: 12%;
    height: 3rem;
    border-radius: 5px;
    border: none;
    color: grey;
    margin-right: 1rem;
}
#alpha> #learn{
    background-color: transparent;
    border:2px solid #d2cfc7;
    color: white;
}


/* ---------------------------------------mobile------------------------------- */
#mobile{
    background-color: white;
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding-top: 1rem;
    /* margin-top: 15rem; */
}
#mobile>h2{
    color: #646464;
    font-weight: 300;
    font-size: 2rem;

}
#mobile>p{
    color: #777;
    font-weight: 300;
    font-size: 1.2rem;
    border-top: solid 2px #e5e5e5;
    width: 65%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#mobile > img{
    width: 100%;
}
/* --------------------------------------icon------------------------------- */
#icon{
    box-sizing: border-box;
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 5px;
    padding: 2rem;
}
#icon>div{
    text-align: center;
    width: 48%;
    display: inline-block;

}
.fa-bolt-lightning{
    background-color: #e89980;
    color: white;
    border-radius: 100%;
    padding: 1rem 1.5rem;
    font-size: 2rem;
}

.fa-chart-area{
    background-color: #7fcdb8;
    color: white;
    border-radius: 100%;
    padding: 1rem 1rem;
    font-size: 2rem;  
}
.fa-cloud{
    background-color: #90b0ba;
    color: white;
    border-radius: 100%;
    padding: 1rem 1rem;
    font-size: 2rem;
}

.fa-lock{
    background-color: #e5cb95;
    color: white;
    border-radius: 100%;
    padding: 1rem 1.5rem;
    font-size: 2rem;
}
#icon>div>h2{
    font-size: 1.5rem;
    font-weight: 300;
}
#icon>div>p{
    font-weight: 300;
}

#div1{
    border-right: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5 ;
    position: relative;
    top: 2px;
    left: 3.5px;

}
#div4{
    border-left: 2px solid #e5e5e5;
    border-top: 2px solid  #e5e5e5;
}

#icon >div{
    padding-top: 2rem;
}
/* --------------------------------------------card--------------------------- */
#card{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

}
#card>div{
    background-color: white;
    width: 48%;
    text-align: center;
    padding-bottom: 2rem;
    border-radius: 5px;


}
#card>div>img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#card > div > h2{
    color: #646464;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    margin-top: 2.5rem;
}
#card > div > p{
    color: #777;
    margin: 1rem 2.5rem;
}
#card > div > button{
    padding: 15px 30px;
    border-radius: 5px;
    border: 2px solid #cfc3c3;
    background: transparent;
    color: #777;
}
/* -------------------------------------------footer------------------------- */
#lastsection{
    text-align: center;
    background-color: #e89980;
    
}
#lastsection>h2{
    color: #f7edd4;
     font-size: 2.5rem;
     font-weight: 300;
     margin-top: 20px;
     padding-top: 20px;
     margin-bottom: 0%;
}
#lastsection>p{
    color: #f7edd4;
    margin-bottom: 30px;

}
#lastsection>div>input{
    height: 45px;
    width: 250px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    background-color: #eba893;
    padding-left: 10px;
    color: #f7edd4;
    
}
#lastsection>div>input[placeholder]{
    color: #f7edd4;
}
#lastsection>div>button{
    height: 45px;
    width: 120px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
    padding-left: 10px;
    color: #eba893;
    margin-left: 20px;
}

/* -------------------------------------------footer--------------------------------- */
footer>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

footer>div>i{
    font-size: 2rem;
    margin-top: 5rem;
    color: #d2cfc7;
}
footer>div>p{
    font-size: 0.8rem;
    border-right:1px solid#cec9b7;
    padding-right: 9px;
    margin-right: 3px;
    margin-bottom: 6rem;
    margin-top: 20px;
    color: #cec9b7;
    
}
footer>div>#dd{
    border: none;
}
#box{
    display: none;
}

/* ---------------------------------------mobile version----------------------------- */
@media (max-width:600px){
    body{
        background-size: 190%;
        background-position-x: center;
        
    }
    #box{
        display: inline-block;
        color: white;
        background-color: #b9b6b5;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }
    nav{
        display: none;
    }
    #alpha{
        width: 80%;
        margin: auto;
        margin-top: 0rem;
    }
    #alpha>h3{
        font-size: 2.5rem;

    }
    #alpha>p{
        
        font-size: 1.1rem;
        
    }
    #alpha > button{
        width: 100%;
        margin-bottom: 1rem;
    }
    #alpha> #learn{
        background-color: transparent;
        border:2px solid #d2cfc7;
        color: white;
    }
    #mobile{
        width: 100%;
        margin: auto;
        text-align: center;
        border-radius: 0px;
        padding-top: 1rem;
        margin-top: 2rem; 
    }
    #mobile>h2{
        font-size: 1.5rem;
    
    }
    #mobile>p{
        width: 90%;
       
    }
    br{
        display: none;
    }
    #icon{
        width: 100%;
        margin: auto;
        margin-top: 1rem;
      
    }
    #icon>div{
        text-align: center;
        width: 100%;
        border-bottom: 2px solid #e5e5e5;
    
    }
    #div1{
        border-right: none;
        border-bottom: none;
        position: relative;
        top: 0px;
        left: 0px;
    
    }
    #div4{
        border-left: none;
        border-top: none;
    }
    #card{
        width: 100%;
        margin: auto;
        margin-top: 2rem;
        display: block;
        /* justify-content: space-between; */
    
    }
    #card>div{
        background-color: white;
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
        border-radius: 5px;
        margin-bottom: 1rem;
    
    
    }
    #lastsection{
        display: block;
        width: 100%;
        text-align: center;

    }
    #lastsection > div{
        width: 100%;
        display: block;
        text-align: center;
    }
    #lastsection>h2{
        color: #f7edd4;
         font-size: 1.5rem;
         font-weight: 300;
         margin-top: 20px;
         padding-top: 20px;
         margin-bottom: 0%;
    }

    #lastsection>div>input{
        height: 45px;
        width: 80%;
        /* margin-left: 20px;
        margin-right: 20px; */
        margin-bottom: 30px;
        border-radius: 5px;
        border: none;
        background-color: #eba893;
        padding-left: 10px;
        color: #f7edd4;
        
    }

    #lastsection>div>button{
        height: 45px;
        width: 80%;
        margin: 0;
        margin-bottom: 30px;
        border-radius: 5px;
        border: none;
        background-color: white;
        padding-left: 10px;
        color: #eba893;
        /* margin-left: 20px; */
    }
    footer{
        width: 100%;
        margin-bottom: 6rem;
    }
    footer>div>i{
        font-size: 2rem;
        margin-top: 5rem;
        padding-right: 10px;
        color: #d2cfc7;
    }
    footer>div{
        text-align: center;
        display: block;
    }
    footer>div>p{
        font-size: 0.8rem;
        border-right:1px solid#cec9b7;
        padding: 0;
        margin: 0%;
        padding-right: 9px;
        margin-right: 3px;
        /* margin-bottom: 6rem; */
        margin-top: 20px;
        color: #cec9b7;
    }
    #card > div > button{
        width: 90%;
        padding: 15px 30px;
        border-radius: 5px;
        border: 2px solid #cfc3c3;
        background: transparent;
        color: #777;
}